@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */
.custom-prose {
  @apply text-gray-700 dark:text-gray-400;
}

.active {
  @apply dark:bg-gray-800;
}

/* Spezifische Styles für Standard Text elemente -> Container erhält die Klasse  */
.custom-prose h1 {
  @apply mb-4 text-5xl font-semibold text-gray-900 dark:text-gray-300;
}

.custom-prose h2 {
  @apply mb-4 text-4xl font-semibold text-gray-900 dark:text-gray-300;
}

.custom-prose h3 {
  @apply mb-4 text-3xl font-semibold text-gray-900 dark:text-gray-300;
}

.custom-prose h4,
h5,
h6 {
  @apply text-gray-900 dark:text-gray-300;
}

.custom-prose p {
  @apply mb-4 leading-relaxed;
}

.custom-prose ul {
  @apply mb-4 ml-5 list-disc;
}

.custom-prose li {
  @apply mb-2;
}

.custom-prose a {
  @apply text-blue-600 underline hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-500;
}

/* Custom Classes */
.masonry {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 580px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1280px) {
  .masonry {
    column-count: 4;
  }
}

.masonry-item {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}
