<button
  type="button"
  class="category-tag relative inline-flex items-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 hover:bg-blue-700 hover:text-white dark:border-gray-950 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-300"
>
  <span>{{category}}</span>
  <div
    class="absolute -end-2 -top-2 inline-flex h-6 items-center justify-center rounded-full border-2 border-white bg-red-500 px-2 text-xs font-bold text-white dark:border-gray-900 dark:bg-blue-700"
  >
    <!-- Anzahl ür das Tag als Pille -->
    {{count}}
  </div>
</button>
