html {
  background-color: white;
  display: inline-block;
}
body {
  display: inline-block;
  margin: 10px;
  padding: 0;
  padding-right: 30px;
  overflow: hidden;
  color: blue;
  background-color: lightgray;
  border: 10px ridge purple;
  font-family: sans-serif;
}

.content {
  margin-bottom: 15px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  color: red;
  font-size: 2rem;
}

.footer {
  color: green;
  font-size: 2rem;
}
