.header {
  padding: 10px 5px;
  margin-bottom: -1px;
  border: 1px solid black;
}

.link-group {
  top: 0;
  display: inline-block;
}

.link-group:hover .list {
  visibility: visible;
  color: green;
}

.list {
  visibility: hidden;
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: palegoldenrod;
  border: 1px solid black;
}
